.features
    .container
        .features-head
            h3 在线购买本书
            p 主流网购平台均有销售（预计11月25日前上市）
        .features-grids
            .col-md-4.features-gird
                h4
                    | .
                    i 京东商城
                    | .
                img.ava-icon(src='shop1.png')
            .col-md-4.features-gird
                h4
                    | .
                    i 亚马逊
                    | .
                img.ava-icon(src='shop2.png')
            a(target='_blank', href='http://product.china-pub.com/4891313')
                .col-md-4.features-gird
                    h4
                        | .
                        i 互动出版
                        | .
                    img.ava-icon(src='shop6.png')
            .col-md-4.features-gird
                h4
                    | .
                    i 天猫商城
                    | .
                img.ava-icon(src='shop4.png')
            .col-md-4.features-gird
                h4
                    | .
                    i 当当网
                    | .
                img.ava-icon(src='shop3.png')
            .col-md-4.features-gird
                h4
                    | .
                    i 豆瓣阅读
                    | .
                img.ava-icon(src='shop5.png')
            .clearfix
