.features
    .container
        .purchase-head
            h3 在线购买本书
            p 主流网购平台均有销售
        .purchase-grids
            a(target='_blank', href='http://item.jd.com/11820333.html')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 京东商城
                        | .
                    img.ava-icon(src='shop1.png')
            a(target='_blank', href='http://www.amazon.cn/CoreOS%E5%AE%9E%E8%B7%B5%E4%B9%8B%E8%B7%AF-%E6%9E%97%E5%B8%86/dp/B0189F508Y/')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 亚马逊
                        | .
                    img.ava-icon(src='shop2.png')
            a(target='_blank', href='http://product.china-pub.com/4891313')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 互动出版
                        | .
                    img.ava-icon(src='shop6.png')
            a(target='_blank', href='https://list.tmall.com/search_product.htm?q=CoreOS%CA%B5%BC%F9%D6%AE%C2%B7')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 天猫商城
                        | .
                    img.ava-icon(src='shop4.png')
            a(target='_blank', href='http://product.dangdang.com/23817485.html')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 当当网
                        | .
                    img.ava-icon(src='shop3.png')
            //a(target='_blank', href='http://book.douban.com/subject/26670565/')
            //    .col-md-4.purchase-gird
            //        h4
            //            | .
            //            i 豆瓣读书
            //            | .
            //        img.ava-icon(src='shop5.png')
            a(target='_blank', href='http://item.winxuan.com/1201206221')
                .col-md-4.purchase-gird
                    h4
                        | .
                        i 新华书店
                        | .
                    img.ava-icon(src='shop7.png')
            .clearfix
