.container
    .service-section-grids
        h3 推荐者
        p 《CoreOS实践之路》即将上市，敬请期待
        .col-md-6.service-grid
            .service-section-grid
                .icon
                    img.ava-icon(src='ava2.png')
                .icon-text
                    h4 《Docker源码分析》作者 孙宏亮
                    p
                        | 云计算浪潮之中，CoreOS无疑是最受世人瞩目的主力军之一。纵观数十年科技史，技术的革新者永远引领着时代的发展。CoreOS则是Linux操作系统领域的探索者与革新者。
                .clearfix
            .service-section-grid
                .icon
                    img.ava-icon(src='ava4.png')
                .icon-text
                    h4 InfoQ 主编 郭蕾
                    p 作为容器时代的操作系统，CoreOS 迅速以其轻巧、简单、易用的特点获得了开发者的青睐。
                .clearfix
            .service-section-grid
                .icon
                    img.ava-icon(src='ava5.png')
                .icon-text
                    h4 DockOne.io 发起人 李颖杰
                    p
                        | 本书是第一本CoreOS 的中文书籍，作者林帆非常熟悉CoreOS 圈子里的相关开源软件，在社区中做过很多布道，相信本书的出版一定会助力CoreOS 在国内的发展。
                .clearfix
        .col-md-6.service-grid
            .service-section-grid
                .icon
                    img.ava-icon(src='ava3.png')
                .icon-text
                    h4 光音网络技术研发负责人 王鹏
                    p
                        | CoreOS 为产品容器化提供了一整套的开源解决方案，它可以让你在公有云或物理机上快速构建属于自己的CaaS，使得部署、管理和升级大规模可动态伸缩的云计算资源变得轻松起来。
                .clearfix
            .service-section-grid
                .icon
                    img.ava-icon(src='ava6.png')
                .icon-text
                    h4 希云cSphere 技术布道师 张春源
                    p
                        | 我相信，用容器技术的人，翻到本书任意一章都能得到有价值的信息。这是一本清晰、准确、精心编写的书，力求让读者明白CoreOS 操作系统区别于其他Linux 操作系统的优势。
                .clearfix
            .service-section-grid
                .icon
                    img.ava-icon(src='ava1.png')
                .icon-text
                    h4 灵雀云布道师 周小璐
                    p 书中延续了林帆文章的一贯风格，力图对每个点深入浅出，理论结合实践，又不乏趣味性，内容也不仅限于CoreOS，值得每位容器技术爱好者阅读。
                .clearfix
        .clearfix
