.banner
    .container
        .banner-top
            .logo
                a(href='/')
                    img.img-responsive(src='coreos.png', alt='')
            .top-menu
                span.menu
                ul
                    li
                        a.active.hvr-shutter-out-horizontal(href='/') 主页
                    li
                        a.hvr-shutter-out-horizontal(href='/content') 目录
                    li
                        a.hvr-shutter-out-horizontal(href='/download') 资源
                    li
                        a.hvr-shutter-out-horizontal(href='/corrigendum') 勘误
                    li
                        a.hvr-shutter-out-horizontal(href='/about') 关于作者
            .clearfix
        .banner-bottom
            .col-md-6.banner-left
                h1 CoreOS
                h2 实践之路
                br
                h3
                    | [林帆
                    span ◎著
                    | ]
                p
                    | 中国工信出版集团
                    br
                    | 电子工业出版社 ● 博文视点
            .col-md-6.banner-right
                .app-img
                    img.img-responsive(src='coreos-book.png', alt='')
            .clearfix
