.copyrights
    .container
        p
            | Copyright © 2015-2016. LinFan All Rights Reserved, Powered by
            a(href='https://www.daocloud.io') &nbsp;DaoCloud
            | .
        .clearfix
