title CoreOS实践之路
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='keywords', content='CoreOS, CoreOS Book')
// ---------- USE CDN ------------
//link(href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', type='text/css')
//link(href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
//script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
// ---------- USE LOCAL ------------
link(href='bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='fonts-lato.css', rel='stylesheet', type='text/css')
script(src='jquery.min.js')
// ---------- OTHER REF ------------
link(href='style.css', rel='stylesheet', type='text/css', media='all')
link(rel='icon', href='icons/favicon.ico')
