script(type='text/javascript', src='/navigator.js')
.banner-top
    .logo
        a(href='/')
            img.img-responsive(src='/coreos-logo.png', alt='')
    .top-menu
        span.menu
        ul
            li
                a.hvr-shutter-out-horizontal(href='/') 主页
            li
                a.hvr-shutter-out-horizontal(href='/contents') 目录
            li
                a.hvr-shutter-out-horizontal(href='/download') 资源
            li
                a.hvr-shutter-out-horizontal(href='/corrections') 勘误
            li
                a.hvr-shutter-out-horizontal(href='/about') 关于作者
    .clearfix