<!DOCTYPE html>
<html>
<head>
    <title>CoreOS实践之路</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="CoreOS, CoreOS Book"/>
    <!------------ USE CDN -------------->
    <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!------------ USE LOCAL -------------->
    <!--<link href="bootstrap.css" rel='stylesheet' type='text/css'/>-->
    <!--<link href='fonts-lato.css' rel='stylesheet' type='text/css'>-->
    <!--<script src="jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="easing.js"></script>-->
    <!------------ OTHER REF -------------->
    <link href="style.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="index.js"></script>
    <link rel="icon" href="icons/favicon.ico">
</head>
<body>
<!--header-->
<div class="banner">
    <div class="container">
        <div class="banner-top">
            <div class="logo">
                <a href="/">
                    <img src="coreos.png" class="img-responsive" alt=""/>
                </a>
            </div>
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <li><a class="active hvr-shutter-out-horizontal" href="/">主页</a></li>
                    <li><a class="hvr-shutter-out-horizontal" href="/content">目录</a></li>
                    <li><a class="hvr-shutter-out-horizontal" href="/download">资源</a></li>
                    <li><a class="hvr-shutter-out-horizontal" href="/corrigendum">勘误</a></li>
                    <li><a class="hvr-shutter-out-horizontal" href="/about">关于作者</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner-bottom">
            <div class="col-md-6 banner-left">
                <h1>CoreOS</h1>

                <h2>实践之路</h2><br/>

                <h3>[林帆<span>◎著</span>]</h3>

                <p>中国工信出版集团<br/>电子工业出版社 ● 博文视点</p>
            </div>
            <div class="col-md-6 banner-right">
                <div class="app-img">
                    <img src="coreos-book.png" class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/header-->
<!--recommendation-->
<div class="container">
    <div class="service-section-grids">
        <h3>推荐者</h3>

        <p>《CoreOS实践之路》即将上市，敬请期待</p>

        <div class="col-md-6 service-grid">
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava2.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>《Docker源码分析》作者 孙宏亮</h4>

                    <p>云计算浪潮之中，CoreOS无疑是最受世人瞩目的主力军之一。纵观数十年科技史，技术的革新者永远引领着时代的发展。CoreOS则是Linux操作系统领域的探索者与革新者。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava4.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>InfoQ 主编 郭蕾</h4>

                    <p>作为容器时代的操作系统，CoreOS 迅速以其轻巧、简单、易用的特点获得了开发者的青睐。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava5.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>DockOne.io 发起人 李颖杰</h4>

                    <p>本书是第一本CoreOS 的中文书籍，作者林帆非常熟悉CoreOS 圈子里的相关开源软件，在社区中做过很多布道，相信本书的出版一定会助力CoreOS 在国内的发展。</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 service-grid">
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava3.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>光音网络技术研发负责人 王鹏</h4>

                    <p>CoreOS 为产品容器化提供了一整套的开源解决方案，它可以让你在公有云或物理机上快速构建属于自己的CaaS，使得部署、管理和升级大规模可动态伸缩的云计算资源变得轻松起来。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava6.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>希云cSphere 技术布道师 张春源</h4>

                    <p>我相信，用容器技术的人，翻到本书任意一章都能得到有价值的信息。这是一本清晰、准确、精心编写的书，力求让读者明白CoreOS 操作系统区别于其他Linux 操作系统的优势。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="service-section-grid">
                <div class="icon">
                    <img src="ava1.png" class="ava-icon">
                </div>
                <div class="icon-text">
                    <h4>灵雀云布道师 周小璐</h4>

                    <p>书中延续了林帆文章的一贯风格，力图对每个点深入浅出，理论结合实践，又不乏趣味性，内容也不仅限于CoreOS，值得每位容器技术爱好者阅读。</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--/recommendation-->
<!--bookstore-->
<div class="features">
    <div class="container">
        <div class="features-head">
            <h3>在线购买本书</h3>

            <p>主流网购平台均有销售（预计11月25日前上市）</p>
        </div>
        <div class="features-grids">
            <div class="col-md-4 features-gird">
                <h4>.<i>京东商城</i>.</h4>
                <img src="shop1.png" class="ava-icon">
            </div>
            <div class="col-md-4 features-gird">
                <h4>.<i>亚马逊</i>.</h4>
                <img src="shop2.png" class="ava-icon">
            </div>
            <a target="_blank" href="http://product.china-pub.com/4891313">
                <div class="col-md-4 features-gird">
                    <h4>.<i>互动出版</i>.</h4>
                    <img src="shop6.png" class="ava-icon">
                </div>
            </a>
            <div class="col-md-4 features-gird">
                <h4>.<i>天猫商城</i>.</h4>
                <img src="shop4.png" class="ava-icon">
            </div>
            <div class="col-md-4 features-gird">
                <h4>.<i>当当网</i>.</h4>
                <img src="shop3.png" class="ava-icon">
            </div>
            <div class="col-md-4 features-gird">
                <h4>.<i>豆瓣阅读</i>.</h4>
                <img src="shop5.png" class="ava-icon">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/bookstore-->
<!--showcase-->
<div class="about-section">
    <div class="container about_container">
        <div class="col-md-6 about_left">
            <img src="coreos-feature.png" alt=""/>
        </div>
        <div class="col-md-6 about_right">
            <h3 class="about_right_title">内容简介</h3>
            <p class="about_right_text">本书是一本介绍CoreOS 操作系统使用和周边技术的入门实践类书籍。本书内容分为三个主要部分。
                第一部分（第1 章）主要介绍CoreOS 的基本概念和系统的安装，为后续各个组件的使用做好铺垫工作；
                第二部分（第2~6 章）主要介绍CoreOS 中最核心的内置组件，通过这些组件，使用者能够完成大部分
                CoreOS 的日常操作和开发任务；第三部分（第7~9 章）主要针对CoreOS 中一些比较进阶的话题以及组
                件进行更具体的讲解，并介绍一些CoreOS 使用技巧。<br/>
                在通读了这些内容后，相信读者会对CoreOS 系统有一个比较全面的认识。
            </p>
            <a href="/content">更多内容</a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--/shecase-->
<!--copyrights-->
<div class="copyrights">
    <div class="container">
        <p>Copyright &copy; 2015. LinFan All Rights Reserved.</p>
        <div class="clearfix"></div>
    </div>
</div>
<!--/copyrights-->

</body>
</html>
