doctype html
html
    head
        include inc/header
        script(type='text/javascript', src='download.js')
    body
        .banner-mini
            .container
                include inc/navigator
        .error-page
            .container
                .error-page.text-center
                    h3
                        | 建
                        span 设
                        | 中
                    p 这个页面还在建设中,敬请期待
                    a.button.curl-bottom-right.two(href='/') 本书首页
        include inc/footer