doctype html
html
    head
        include inc/header
        script(type='text/javascript', src='download.js')
    body
        .banner-mini
            .container
                include inc/navigator
        .container
            .about-grids
                h3 CoreOS系统镜像
        include inc/footer