doctype html
html
    head
        include inc/header
    body
        include index/title
        include index/recommendation
        include index/purchase
        include index/summary
        include inc/footer
