doctype html
html
    head
        include inc/header
        script(type='text/javascript', src='index.js')
    body
        include index/title
        include index/recommendation
        include index/purchase
        include index/summary
        include inc/footer
